<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
        <!-- 引入bootstrap样式 -->
<link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<!-- 引入bootstrap-table样式 -->
<link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">

<!-- jquery -->
<script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- bootstrap-table.min.js -->
<script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<!-- 引入中文语言包 -->
<script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>
<div class="panel panel-success">
	<div class="panel-heading">个人测试情况</div>
    <table id="table"></table>

</div>
  <script>
    var abc = $('#table');
    abc.bootstrapTable({
    method: 'post',
    url:'/query/',
    dataType : "json",
    contentType : "application/x-www-form-urlencoded",
    pagination: true,//是否分页
    pageSize: 10,//单页记录数
    pageList: [5, 10, 20, 50],//分页步进值
    sidePagination: "server",//服务端分页
    queryParamsType: "limit",//查询参数组织方式
    queryParams: function getParams(params) {
        //params obj
        params.other = "otherInfo";
        return params;
    },
    columns: [
        { field: 'name',
        title: '用户'},
          { field: 'case_count',
        title: '用例数量'},
          { field: 'mock_count',
        title: '已录制数量'},
          { field: 'run_count',
        title: '已执行数量'},
          { field: 'pass_count',
        title: '通过数量'},
          { field: 'run_rate',
        title: '执行率'},
          { field: 'pass_rate',
        title: '通过率'},
    ]
});
  </script>
</body>
</html>
